<html>
<head>
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- css materialize -->
	<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
	<link rel="stylesheet" href="https://code.getmdl.io/1.1.3/material.indigo-pink.min.css">
	<link rel="stylesheet" href="{{=URL('static','css/home.css')}}">
</head>
<body>
        <!-- Dropdown Trigger -->
	<div class="demo-layout-transparent mdl-layout mdl-js-layout">
	<header class="mdl-layout__header mdl-layout__header--transparent">
	  <div class="mdl-layout__header-row">
	    <!-- Title -->
	    <span class="mdl-layout-title">InformarQ</span>
	    <!-- Add spacer, to align navigation to the right -->
	    <div class="mdl-layout-spacer"></div>
	    <!-- Navigation -->
	    <nav class="mdl-navigation">
	      <a class="mdl-navigation__link" href="{{=URL('infoController', 'index.html')}}">Informacion</a>
	      <a class="mdl-navigation__link" href="{{=URL('mapaController', 'index.html')}}">Mapas</a>
	      <a class="mdl-navigation__link" href="{{=URL('cronoController', 'index.html')}}">Cronogramas de Actividades</a>
	      <a class="mdl-navigation__link" href="{{=URL('default', 'ayuda.html')}}">Ayuda</a>
	    </nav>
	  </div>
	</header>
	<div class="mdl-layout__drawer">
	  <span class="mdl-layout-title">InformarQ</span>
	  <nav class="mdl-navigation">
	    <a class="mdl-navigation__link" href="{{=URL('infoController', 'index.html')}}">Informacion</a>
	    <a class="mdl-navigation__link" href="{{=URL('mapaController', 'index.html')}}">Mapas</a>
	    <a class="mdl-navigation__link" href="{{=URL('cronoController', 'index.html')}}">Cronogramas de Actividades</a>
	    <a class="mdl-navigation__link" href="{{=URL('default', 'ayuda.html')}}">Ayuda</a>
	  </nav>
	</div>
	<main class="mdl-layout__content">
	</main>
	</div>
  <center><img id ="logoApp" src="../static/images/logoApp2.png"></center>
  

  <!-- SCAN BUTTON -->
  <center><a id="centerButton" href="#" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
   ▒  Scan
</a></center>
	<script defer src="https://code.getmdl.io/1.1.3/material.min.js"></script>
</body>
</html>